body {
  background-color: #d7e3f5;
 
}
.container {
  width: 80%;
  margin: 0 auto;
  padding: 0 100px;
  font-weight: 600;
}
h1 {
  color: red;
}
h2 {
  color: green;
}
.balls {
  display: inline-block;
  margin-left: 10%;
}
.smile, .krug {
  display: inline-block;
}